<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2>Book Package</h2>

<form action="https://formsubmit.co/vyshakhvinod8@gmail.com" method="POST">
    <input type="text" name="name" placeholder="Your Name" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="hidden" name="_subject" value="New Booking Request">
    <input type="hidden" name="_captcha" value="false">
    <button type="submit">Confirm Booking</button>
</form>

</body>
</html>
